.float-operate-container {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  right: -50px;
  text-align: center;
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}
.float-operate-container > .float-operate-item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.3rem;
  border-radius: 50%;
  background-color: var(--layer-color);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: transform 150ms;
}
.float-operate-container > .float-operate-item:hover {
  transform: scale(1.1);
}
.float-operate-show {
  opacity: 1;
  transform: translateX(-100px);
}
