.post-container-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}
.post-container-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}
.post-container-body .anchor:focus {
  outline: none;
}
.post-container-body h1 .octicon-link,
.post-container-body h2 .octicon-link,
.post-container-body h3 .octicon-link,
.post-container-body h4 .octicon-link,
.post-container-body h5 .octicon-link,
.post-container-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}
.post-container-body h1:hover .anchor,
.post-container-body h2:hover .anchor,
.post-container-body h3:hover .anchor,
.post-container-body h4:hover .anchor,
.post-container-body h5:hover .anchor,
.post-container-body h6:hover .anchor {
  text-decoration: none;
}
.post-container-body h1:hover .anchor .octicon-link,
.post-container-body h2:hover .anchor .octicon-link,
.post-container-body h3:hover .anchor .octicon-link,
.post-container-body h4:hover .anchor .octicon-link,
.post-container-body h5:hover .anchor .octicon-link,
.post-container-body h6:hover .anchor .octicon-link {
  visibility: visible;
}
.post-container-body h1:hover .anchor .octicon-link:before,
.post-container-body h2:hover .anchor .octicon-link:before,
.post-container-body h3:hover .anchor .octicon-link:before,
.post-container-body h4:hover .anchor .octicon-link:before,
.post-container-body h5:hover .anchor .octicon-link:before,
.post-container-body h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: " ";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}
.post-container-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.post-container-body details {
  display: block;
}
.post-container-body summary {
  display: list-item;
}
.post-container-body a {
  background-color: initial;
}
.post-container-body a:active,
.post-container-body a:hover {
  outline-width: 0;
}
.post-container-body strong {
  font-weight: inherit;
  font-weight: bolder;
}
.post-container-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.post-container-body img {
  border-style: none;
}
.post-container-body code,
.post-container-body kbd,
.post-container-body pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.post-container-body hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
.post-container-body input {
  font: inherit;
  margin: 0;
}
.post-container-body input {
  overflow: visible;
}
.post-container-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.post-container-body * {
  box-sizing: border-box;
}
.post-container-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.post-container-body a {
  color: #738fcd;
  font-weight: bold;
  text-decoration: none;
}
.post-container-body a:hover {
  text-decoration: underline;
}
.post-container-body strong {
  font-weight: 600;
}
.post-container-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}
.post-container-body hr:after,
.post-container-body hr:before {
  display: table;
  content: "";
}
.post-container-body hr:after {
  clear: both;
}
.post-container-body table {
  border-spacing: 0;
  border-collapse: collapse;
}
.post-container-body td,
.post-container-body th {
  padding: 0;
}
.post-container-body details summary {
  cursor: pointer;
}
.post-container-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.post-container-body h1,
.post-container-body h2,
.post-container-body h3,
.post-container-body h4,
.post-container-body h5,
.post-container-body h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.post-container-body h1 {
  font-size: 32px;
}
.post-container-body h1,
.post-container-body h2 {
  font-weight: 600;
}
.post-container-body h2 {
  font-size: 24px;
}
.post-container-body h3 {
  font-size: 20px;
}
.post-container-body h3,
.post-container-body h4 {
  font-weight: 600;
}
.post-container-body h4 {
  font-size: 16px;
}
.post-container-body h5 {
  font-size: 14px;
}
.post-container-body h5,
.post-container-body h6 {
  font-weight: 600;
}
.post-container-body h6 {
  font-size: 12px;
}
.post-container-body p {
  margin-top: 0;
  margin-bottom: 10px;
}
.post-container-body blockquote {
  margin: 0;
}
.post-container-body ol,
.post-container-body ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.post-container-body ol ol,
.post-container-body ul ol {
  list-style-type: lower-roman;
}
.post-container-body ol ol ol,
.post-container-body ol ul ol,
.post-container-body ul ol ol,
.post-container-body ul ul ol {
  list-style-type: lower-alpha;
}
.post-container-body dd {
  margin-left: 0;
}
.post-container-body code,
.post-container-body pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}
.post-container-body pre {
  margin-top: 0;
  margin-bottom: 0;
}
.post-container-body input::-webkit-inner-spin-button,
.post-container-body input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.post-container-body :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}
.post-container-body .border {
  border: 1px solid #e1e4e8 !important;
}
.post-container-body .border-0 {
  border: 0 !important;
}
.post-container-body .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}
.post-container-body .rounded-1 {
  border-radius: 3px !important;
}
.post-container-body .bg-white {
  background-color: #fff !important;
}
.post-container-body .bg-gray-light {
  background-color: #fafbfc !important;
}
.post-container-body .text-gray-light {
  color: #6a737d !important;
}
.post-container-body .mb-0 {
  margin-bottom: 0 !important;
}
.post-container-body .my-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.post-container-body .pl-0 {
  padding-left: 0 !important;
}
.post-container-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.post-container-body .pl-1 {
  padding-left: 4px !important;
}
.post-container-body .pl-2 {
  padding-left: 8px !important;
}
.post-container-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.post-container-body .pl-3,
.post-container-body .px-3 {
  padding-left: 16px !important;
}
.post-container-body .px-3 {
  padding-right: 16px !important;
}
.post-container-body .pl-4 {
  padding-left: 24px !important;
}
.post-container-body .pl-5 {
  padding-left: 32px !important;
}
.post-container-body .pl-6 {
  padding-left: 40px !important;
}
.post-container-body .f6 {
  font-size: 12px !important;
}
.post-container-body .lh-condensed {
  line-height: 1.25 !important;
}
.post-container-body .text-bold {
  font-weight: 600 !important;
}
.post-container-body .pl-c {
  color: #6a737d;
}
.post-container-body .pl-c1,
.post-container-body .pl-s .pl-v {
  color: #005cc5;
}
.post-container-body .pl-e,
.post-container-body .pl-en {
  color: #6f42c1;
}
.post-container-body .pl-s .pl-s1,
.post-container-body .pl-smi {
  color: #24292e;
}
.post-container-body .pl-ent {
  color: #22863a;
}
.post-container-body .pl-k {
  color: #d73a49;
}
.post-container-body .pl-pds,
.post-container-body .pl-s,
.post-container-body .pl-s .pl-pse .pl-s1,
.post-container-body .pl-sr,
.post-container-body .pl-sr .pl-cce,
.post-container-body .pl-sr .pl-sra,
.post-container-body .pl-sr .pl-sre {
  color: #032f62;
}
.post-container-body .pl-smw,
.post-container-body .pl-v {
  color: #e36209;
}
.post-container-body .pl-bu {
  color: #b31d28;
}
.post-container-body .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}
.post-container-body .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}
.post-container-body .pl-c2:before {
  content: "^M";
}
.post-container-body .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}
.post-container-body .pl-ml {
  color: #735c0f;
}
.post-container-body .pl-mh,
.post-container-body .pl-mh .pl-en,
.post-container-body .pl-ms {
  font-weight: 700;
  color: #005cc5;
}
.post-container-body .pl-mi {
  font-style: italic;
  color: #24292e;
}
.post-container-body .pl-mb {
  font-weight: 700;
  color: #24292e;
}
.post-container-body .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}
.post-container-body .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}
.post-container-body .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}
.post-container-body .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}
.post-container-body .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}
.post-container-body .pl-ba {
  color: #586069;
}
.post-container-body .pl-sg {
  color: #959da5;
}
.post-container-body .pl-corl {
  text-decoration: underline;
  color: #032f62;
}
.post-container-body .mb-0 {
  margin-bottom: 0 !important;
}
.post-container-body .my-2 {
  margin-bottom: 8px !important;
}
.post-container-body .my-2 {
  margin-top: 8px !important;
}
.post-container-body .pl-0 {
  padding-left: 0 !important;
}
.post-container-body .py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.post-container-body .pl-1 {
  padding-left: 4px !important;
}
.post-container-body .pl-2 {
  padding-left: 8px !important;
}
.post-container-body .py-2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.post-container-body .pl-3 {
  padding-left: 16px !important;
}
.post-container-body .pl-4 {
  padding-left: 24px !important;
}
.post-container-body .pl-5 {
  padding-left: 32px !important;
}
.post-container-body .pl-6 {
  padding-left: 40px !important;
}
.post-container-body .pl-7 {
  padding-left: 48px !important;
}
.post-container-body .pl-8 {
  padding-left: 64px !important;
}
.post-container-body .pl-9 {
  padding-left: 80px !important;
}
.post-container-body .pl-10 {
  padding-left: 96px !important;
}
.post-container-body .pl-11 {
  padding-left: 112px !important;
}
.post-container-body .pl-12 {
  padding-left: 128px !important;
}
.post-container-body hr {
  border-bottom-color: #eee;
}
.post-container-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.post-container-body:after,
.post-container-body:before {
  display: table;
  content: "";
}
.post-container-body:after {
  clear: both;
}
.post-container-body > :first-child {
  margin-top: 0 !important;
}
.post-container-body > :last-child {
  margin-bottom: 0 !important;
}
.post-container-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.post-container-body blockquote,
.post-container-body details,
.post-container-body dl,
.post-container-body ol,
.post-container-body p,
.post-container-body pre,
.post-container-body table,
.post-container-body ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.post-container-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.post-container-body blockquote {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--layer-color);
}
.post-container-body blockquote > :first-child {
  margin-top: 0;
}
.post-container-body blockquote > :last-child {
  margin-bottom: 0;
}
.post-container-body h1,
.post-container-body h2,
.post-container-body h3,
.post-container-body h4,
.post-container-body h5,
.post-container-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.post-container-body h1 {
  font-size: 2em;
}
.post-container-body h1,
.post-container-body h2 {
  color: var(--step-color-zero);
  margin: 40px 0 0.6rem;
  cursor: pointer;
}
.post-container-body h2 {
  font-size: 1.5em;
}
.post-container-body h3 {
  font-size: 1.25em;
}
.post-container-body h4 {
  font-size: 1em;
}
.post-container-body h5 {
  font-size: 0.875em;
}
.post-container-body h6 {
  font-size: 0.85em;
  color: #6a737d;
}
.post-container-body ol,
.post-container-body ul {
  padding-left: 2em;
}
.post-container-body ol ol,
.post-container-body ol ul,
.post-container-body ul ol,
.post-container-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.post-container-body li {
  word-wrap: break-all;
}
.post-container-body li::marker {
  font-size: 1.1rem;
}
.post-container-body li > p {
  margin-top: 16px;
}
.post-container-body li + li {
  margin-top: 0.25em;
}
.post-container-body dl {
  padding: 0;
}
.post-container-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.post-container-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.post-container-body table {
  display: block;
  width: 100%;
  overflow: auto;
}
.post-container-body table th {
  font-weight: 600;
}
.post-container-body table td,
.post-container-body table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.post-container-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.post-container-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.post-container-body img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}
.post-container-body img[align="right"] {
  padding-left: 20px;
}
.post-container-body img[align="left"] {
  padding-right: 20px;
}
.post-container-body .highlight code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: inherit;
  color: inherit;
  background-color: var(--layer-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
}
.post-container-body pre {
  word-wrap: normal;
}
.post-container-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.post-container-body .highlight {
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: overlay;
}
.post-container-body .highlight table {
  display: table;
  margin: 0;
  width: initial;
}
.post-container-body .highlight table tr {
  background-color: inherit;
  border: none;
}
.post-container-body .highlight table tr .code {
  padding: 0;
  border: none;
}
.post-container-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.post-container-body .highlight pre,
.post-container-body pre {
  padding: 10px;
  overflow: auto;
  font-size: 0.85rem;
  background-color: var(--layer-color);
  border-radius: 4px;
}
.post-container-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
.post-container-body .commit-tease-sha {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 90%;
  color: #444d56;
}
.post-container-body .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}
.post-container-body .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
.post-container-body .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}
.post-container-body .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.post-container-body .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}
.post-container-body .blob-num:before {
  content: attr(data-line-number);
}
.post-container-body .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}
.post-container-body .blob-code-inner {
  overflow: visible;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}
.post-container-body .pl-token.active,
.post-container-body .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}
.post-container-body .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}
.post-container-body .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}
.post-container-body .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}
.post-container-body .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}
.post-container-body .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}
.post-container-body .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}
.post-container-body .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}
.post-container-body .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}
.post-container-body .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}
.post-container-body .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}
.post-container-body .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}
.post-container-body .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}
.post-container-body .task-list-item {
  list-style-type: none;
}
.post-container-body .task-list-item + .task-list-item {
  margin-top: 3px;
}
.post-container-body .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
