.search-container {
  position: relative;
  margin-bottom: 1rem;
  z-index: 4;
}
.search-container .search-operate-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
}
.search-container .search-operate-container .iconfont {
  display: inline-block;
  font-size: 1.1rem;
  margin: 0 5px;
  cursor: pointer;
}
.search-container .search-operate-container .icon-close {
  display: none;
}
.search-container .search-operate-container .close-show {
  display: inline-block;
}
.search-container .search-input {
  height: 50px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 6rem;
  background: var(--layer-color);
  border-radius: 50px;
}
.search-container .search-content {
  display: none;
}
.search-show-content .search-input {
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.search-show-content .search-content {
  width: 100%;
  color: var(--step-color-one);
  position: absolute;
  overflow: hidden;
  background: var(--layer-color);
  border-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: block;
}
.search-show-content .search-content .search-content-item {
  padding: 11px 1rem;
  cursor: pointer;
}
.search-show-content .search-content .search-content-item:first-child {
  border-top: 1px solid var(--bg-color);
}
.search-show-content .search-content .search-content-item:hover {
  background: var(--bg-color);
}
