.sidebar-button {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms;
  border-radius: 10px;
}
@media (any-hover: hover) {
  .sidebar-button:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
.sidebar-button::before {
  font-size: 1.5rem;
}
.sidebar-container {
  z-index: 10;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--layer-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateX(-100%);
  transition: transform 300ms;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
}
.sidebar-container > .sidebar-content,
.sidebar-container .toc {
  flex: 1;
  overflow-y: overlay;
}
.sidebar-container > .toc .toc-level-1 {
  font-size: 1.3rem;
}
.sidebar-container > .toc .toc-level-2 {
  font-size: 1.2rem;
}
.sidebar-container > .toc .toc-level-3 {
  font-size: 1.1rem;
}
.sidebar-container > .toc .toc-level-4 {
  font-size: 1rem;
}
.sidebar-container > .toc .toc-level-5 {
  font-size: 0.875rem;
}
.sidebar-container > .toc .toc-level-6 {
  font-size: 0.85rem;
}
.sidebar-container > .toc .toc-item {
  margin: 1rem;
  list-style-type: none;
  font-weight: 600;
}
.sidebar-container > .sidebar-footer {
  position: relative;
  width: 100%;
  padding: 1rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar-container > .sidebar-footer .sidebar-footer-social .sidebar-footer-social-item {
  margin: 0 10px;
}
.sidebar-container > .sidebar-footer .sidebar-footer-social .sidebar-footer-social-item:hover {
  text-decoration: none;
}
@media (any-hover: none) and (orientation: portrait) {
  .sidebar-button {
    top: 0;
    left: 0;
  }
  .sidebar-container {
    width: 60%;
  }
}
.sidebar-show {
  transform: translateX(0);
}
