.sidebar-container {
  z-index: 10;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--layer-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateX(-100%);
  transition: transform 300ms;
  box-shadow: var(--box-shadow);
}
.sidebar-button {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 300ms;
  border-radius: 10px;
}
@media (any-hover: hover) {
  .sidebar-button:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
.sidebar-button::before {
  font-size: 1.5rem;
}
@media (any-hover: none) and (orientation: portrait) {
  .sidebar-button {
    top: 0;
    left: 0;
  }
  .sidebar-container {
    width: 60%;
  }
}
.sidebar-show {
  transform: translateX(0);
}
