@font-face {
  font-family: "iconfont"; /* Project id 2477096 */
  src: url('iconfont.woff2?t=1624551877745') format('woff2'),
       url('iconfont.woff?t=1624551877745') format('woff'),
       url('iconfont.ttf?t=1624551877745') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-option-vertical:before {
  content: "\e6d6";
}

.icon-back:before {
  content: "\e6a9";
}

.icon-close:before {
  content: "\e622";
}

.icon-home:before {
  content: "\e690";
}

.icon-Drawingpin:before {
  content: "\e88c";
}

.icon-jiantou-zuo:before {
  content: "\e612";
}

.icon-jiantou-you:before {
  content: "\e613";
}

.icon-loading:before {
  content: "\e61c";
}

.icon-github:before {
  content: "\e600";
}

.icon-envelope:before {
  content: "\e6ce";
}

.icon-rss:before {
  content: "\e62b";
}

.icon-jiantou:before {
  content: "\e618";
}

.icon-sousuo:before {
  content: "\e652";
}

.icon-row-full:before {
  content: "\e976";
}

